
/* ====================================================== */
/* ===================== CONTAINERS ===================== */
/* ====================================================== */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

body {  
  
  background-image: linear-gradient(90deg, rgba(2, 0, 31, 0.3), rgba(2, 0, 31, 0.3) ), url("images/background.jpg"); 
  background-size: 100vw 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 0.3fr 0.3fr 2fr 0.2fr;
  align-items: center;  
  width: 100vw;
  height: 100vh;  
  color: #FEF2BF;  
  font-family: 'Press Start 2P', cursive;  
  font-size: 3vh;  
  letter-spacing: 5px; 
  line-height: 1.6;
  text-align: center; 
  text-transform: uppercase;
  user-select: none; 
}  
  

.jogo { 
  position: relative;  
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid black;
  display: none;  
  height: 45vh;
  width: 45vh;
  margin: 0 auto; 
  grid-row: 4 / 5;
  background-color: black;
} 
  


/* ====================================================== */
/* ================= HEADER E FOOTER ==================== */
/* ====================================================== */


h1 {  
  font-size: 6vh;   
  margin: 5vh 0; 
  align-self: center; 
  line-height: 1.6; 
  white-space: nowrap;
}
   
.tamara {  
  font-style: italic; 
  grid-row: 4 / 5;
  align-self: end;
}

.tamarap {  
  white-space: nowrap;
}  
  

/* ====================================================== */
/* ========================= JOGO ======================= */
/* ====================================================== */

.btn {
  border: 7px solid black;
  border-radius: 20%;  
  position: absolute;   
  height: 100%;
  width: 100%; 
}

.green {
  background-color: #093109;  
  top: 50%;
  left: 50%;  
  transform: translate(-100%, -100%); 
}  

.red {
  background-color: #590000; 
  top: 50%;
  right: 50%; 
  transform: translate(100%, -100%);  
}

.yellow { 
  background-color: #80800d;  
  bottom: 50%;
  left: 50%; 
  transform: translate(-100%, 100%); 
}

.blue { 
  background-color: #0d0d80;  
  bottom: 50%;
  right: 50%;
  transform: translate(100%, 100%);  
}

.black {
  background-color: black;
  border: 10px solid black;
  border-radius: 50%;
  position: absolute; 
  top: 50%;
  left: 50%; 
  height: 15vh;
  width: 15vh;
  transform: translate(-50%, -50%);
  z-index: 2;  
} 

.play-btn {
  border-radius: 50%;
  position: absolute; 
  top: 50%;
  left: 50%; 
  height: 15vh;
  width: 15vh;
  transform: translate(-50%, -50%);  
  z-index: 3; 
} 

.play-btn:hover {
  cursor: pointer;                                
}
 
.go { 
  position: absolute; 
  top: 50%;
  left: 50%;    
  transform: translate(-46%, -50%); 
  font-size: 5vh;  
  letter-spacing: 2px; 
  opacity: 0;
  z-index: 3;    
}

.x { 
  position: absolute; 
  top: 50%;
  left: 50%;     
  transform: translate(-50%, -50%);
  font-family: 'Arial', sans-serif;
  font-size: 10vh; 
  opacity: 0;
  z-index: 3;   
  height: 15vh;
  width: 15vh; 
  padding-left: 5px;
  border-radius: 50%;
  background-color: black; 
}



/* ====================================================== */
/* ======================= RECORDS ====================== */
/* ====================================================== */

 
.records { 
  display: flex;
  justify-content: space-between;
  gap: 7%;
}

.record-jogador-1,
.record-jogador-2 {  
  opacity: 0; 
}  

 
/* ====================================================== */
/* =============== SELEÇÃO DE JOGADORES ================= */
/* ====================================================== */
 

.qnt-jogadores{
  margin-bottom: 5%;
  margin-top: 13vh;
} 
 
.um-player, 
.dois-players { 
  background-color: transparent;
  border: none;
  color: #FEF2BF;  
  display: block;
  font-family: 'Press Start 2P', cursive; 
  font-size: 3vh; 
  margin: 2% auto;
  text-transform: uppercase;
}
  
.um-player:hover,
.dois-players:hover {
  color: #fef2bfc4;  
  cursor: pointer;
}  

.pressione-enter {
  display: block;  
  margin-top: 2vh; 
}

#nome-jogador-1, 
#nome-jogador-2 { 
  background-color: #fef2bf93;  
  color: black;
  display: none;
  font-family: 'Press Start 2P', cursive; 
  padding: 1vh 3vh; 
  text-align: center;
  text-transform: uppercase;
}  

.vez {
  display: none;  
  margin-top: 3vh;
}
 


/* ====================================================== */
/* ==================== MEDIA QUERIES =================== */
/* ====================================================== */


@media (max-width: 600px) {

  body { 
    font-size: 4vw;
    grid-template-rows: 2fr 1fr 1fr 2fr;
  } 

  h1 {  
    font-size: 7.5vw; 
  } 

  .um-player, 
  .dois-players { 
    margin: 0 auto;
    padding: 15px; 
    font-size: 4vw;
  } 

  .vez {
    margin: 0;
  }
 
  .qnt-jogadores{
    margin-bottom: 5%;
    margin-top: 5vh;
    font-size: 4vw;
  }  
 
  .records {  
    display: block; 
    grid-row: 2 / 3;
   }  

  .record-jogador-1 {
    display: block; 
    margin: 0 0 3% 0;
  } 
  
  .record-jogador-2 { 
    display: block;  
    margin: 0;
  } 

  .jogo { 
    margin-bottom: 5%;
    width: 75vw;
    height: 75vw;
  }
   
  .tamara { 
    margin: 0% 1%;
  }

}
